@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?2y2o34');
	src:url('fonts/icomoon.eot?#iefix2y2o34') format('embedded-opentype'),
		url('fonts/icomoon.woff?2y2o34') format('woff'),
		url('fonts/icomoon.ttf?2y2o34') format('truetype'),
		url('fonts/icomoon.svg?2y2o34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-my-location:before {
	content: "\e600";
}

.icon-home3:before {
	content: "\e902";
}

.icon-image:before {
	content: "\e90d";
}

.icon-images:before {
	content: "\e90e";
}

.icon-camera:before {
	content: "\e90f";
}

.icon-location:before {
	content: "\e947";
}

.icon-location2:before {
	content: "\e948";
}

.icon-compass:before {
	content: "\e949";
}

.icon-compass2:before {
	content: "\e94a";
}

.icon-map:before {
	content: "\e94b";
}

.icon-map2:before {
	content: "\e94c";
}

.icon-clock:before {
	content: "\e94e";
}

.icon-calendar:before {
	content: "\e953";
}

.icon-bubbles:before {
	content: "\e96c";
}

.icon-bubbles2:before {
	content: "\e96d";
}

.icon-bubble2:before {
	content: "\e96e";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-search:before {
	content: "\e986";
}

.icon-zoom-in:before {
	content: "\e987";
}

.icon-zoom-out:before {
	content: "\e988";
}

.icon-target:before {
	content: "\e9b3";
}

.icon-power:before {
	content: "\e9b5";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-minus:before {
	content: "\ea0b";
}

.icon-filter:before {
	content: "\ea5b";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter2:before {
	content: "\ea92";
}

